body{
    font-family: 'Fresca', sans-serif;
    color:  rgb(199, 0, 116);
    font-size: 30px;
    background-color: rgb(0, 255, 234);
}

label{
    font-size: larger;
    border: 3px solid rgb(199, 0, 116);
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

#enunciado{
    animation: enunciado 1.5s forwards 0s ease;
}

@keyframes enunciado{
    0%{
        transform: rotate(0) translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

#pergunta{
    text-align: center;
    margin-top: 30vh;

    animation: yourAnimation 1.5s forwards 0s ease;
}


#respostas{
    animation: respostas 1.5s forwards 0s ease;
}

@keyframes respostas{
    0%{
        transform: rotate(0) translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
}

input{

    border: solid 1px gray;
    border-radius: 3px;
    outline: none;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-top: -1px;
    vertical-align: baseline;
}


button{
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:  rgb(199, 0, 116);
    border-radius: 8px;
    border: 2px white solid;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Fresca', sans-serif;

    animation: botao 1.5s forwards 0s ease;
}

@keyframes botao{
    0%{
        transform: rotate(0) translateY(250px);
        opacity: 0;
    }
    100%{
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
}

button:hover{
    
    background-color: white;
    color:  rgb(199, 0, 116);
    transition: 0.4s;
    border: 2px solid rgb(199, 0, 116);
}

#coracao{
    display: flex;
    justify-content: center;
}

#fofo{
    width: 150px;
    height: 150px;
    animation: coracaum 2s infinite 0s ease;
}

@keyframes coracaum{
    0%{
        transform: rotate(0);
        opacity: 0;
        }
    100%{
        transform: rotate(0);
        opacity: 1;
        }
}

/* MEXE AQUI FLÁVIO PRO TAMANHO DA RESPOSTA*/
p{  
    font-size: x-large;
    animation:texto 2s forwards 0s ease;
}

@keyframes texto{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
